{{/* Uso: {{< bruto/bronca >}}texto{{< /bruto/bronca >}} */}}

{{ $family := or site.Params.bruto.familyMode site.Params.familyMode }}
{{ $text := .Inner }}

{{ if $family }}
  {{ $text = replaceRE `(?i)\b(porra|caralho|merda|puta|bosta)\b` "p***" $text }}
{{ end }}

<div class="bruto-bronca">
  {{ if eq .Site.Language.Lang "pt" }}
    <strong>Coice do Bruto:</strong> {{ $text | markdownify }}
  {{ else }}
    <strong>Roughneck’s Slap of Wisdom:</strong> {{ $text | markdownify }}
  {{ end }}
</div>